.sub-articles {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    list-style: none;
    padding: 0;
    margin: 0;

    margin-top: 15px;
  }

  &__item {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  &__img-wrapper {
    min-width: 80px;
    height: 80px;

    margin-right: 16px;

    @include vp--1366 {
      margin-right: 12px;
    }

    @include vp--320 {
      margin-right: 16px;;
    }
  }

  &__title {
    font-family: $font-family--georgia;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    margin-top: 1px;

    max-width: 320px;
  }
}
