// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     #000000;
$color-white:                     #ffffff;

$color-magnolia:                  #f7f1fe;
$color-alizarin:                  #f42f3a;
$color-wild-watermelon:           #f7636b;
$color-light-pink:                #fbb1b5;

// Gradient

$wild-watermelon-to-light-pink:                    linear-gradient(90deg, #f7636b 0%, #fbb1b5 100%);

// Typography
//---------------------------------

$font-family--montserrat:                    "Montserrat", "Arial", sans-serif;
$font-family--georgia:                       "Georgia", serif;

// Viewports
//---------------------------------

$vp--320:                           320px;
$vp--360:                           360px;
$vp--768:                           768px;
$vp--1366:                          1366px;
$vp--1920 :                          1680px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
